/* Sidebar styles */
.sidebar-container {
  background-color: #0c3049;
  min-height: 100vh;
}

.sidebar-toggle {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.sidebar-toggle-expanded {
  justify-content: flex-end;
}

/* Menu styles */
.sidebar-menu {
  background-color: #0c3049;
  color: #ffffff;
  border-right: none;
}

.sidebar-menu-item {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}
.ant-menu-item-selected,
.sidebar-menu-item:hover,
.sidebar-menu-item:active {
  background-color: #96cfbc !important;
}


.sidebar-menu-item-link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}


/* Icon size */
.sidebar-menu-item-icon {
  font-size: 20px !important; /* Adjust icon size here */
  color: #ffffff;
  font-weight: 600 !important;
}

/* Change icon size on hover if needed */
.sidebar-menu-item:hover .sidebar-menu-item-icon {
  font-size: 26px !important; /* Bigger size on hover */
  transition: font-size 0.2s;
}

.sidebar-menu-item-link:hover {
  color: #96cfbc; /* Change link color on hover */
}
